name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04-arm]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
          fetch-depth: 0 # submodule checkout does not work with depth=1 (the default)

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y qtbase5-dev qtdeclarative5-dev

      - name: Build firebird-headless
        working-directory: headless
        run: make -j8

      - name: Build firebird
        run: |
          mkdir build
          cd build
          qmake ..
          make -j4
